<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./main-page.component.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" 
    crossorigin="anonymous">
    <script src="script.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Welcome</title>
</head>

<body>
    <!-- INICIO Header / navegador-->
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top border-3 border-bottom" style="background-color: #39aff3;" >
        <div class="container">
            <a href="main-page" class="navbar-brand"><img src="/assets/logo.png" alt="logo" width="90px" height="40px"></a> <!--Para el logo-->
            <!--Boton que aparece cuando se reduce la pantalla-->
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Lo que se oculta con el botón de arriba ^-->
            <div id="MenuNavegacion" class="collapse navbar-collapse ">
                <div class="my-2 my-lg-0 ms-lg-auto">
                    <ul class="navbar-nav d-flex align-items-center" >
                        <li class="nav-item dropdown text-end">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                <img src="/src/assets/user_while.jpg" alt="mdo" width="38" height="38" class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu" 
                                style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 50px);">
                                <li><a class="dropdown-item" (click)="logout()"> Cerrar sesión </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>          
            </div>
        </div>
    </nav>
    <!--FIN Header / navegador-->

    <!--Administrador de tareas-->
    
       
        <!--Vistas Calendario-->
        <div>
            <button class="btn btn-outline-primary mb-2 me-2" (click)="openModal_add(Add_task)">Nueva tarea</button>
            <button class="btn btn-outline-primary mb-2 me-2" (click)="openModal_addMateria(Add_materia)">Agregar Materia</button>
                
                <nav><!--Para manejar las diferentes vistas-->
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <!--Botones de las vistas-->
                          <button class="nav-link active" id="nav-mat-tab" data-bs-toggle="tab" data-bs-target="#nav-mat" type="button" role="tab" aria-controls="nav-mat" aria-selected="false">Lista de Tareas</button>
                          <button class="nav-link " id="nav-mes-tab" data-bs-toggle="tab" data-bs-target="#nav-mes" type="button" role="tab" aria-controls="nav-mes" aria-selected="false">Vista Calendario</button>
                    </div>
                </nav>
                    
                    <div class="tab-content" id="nav-tabContent">
                        <!--Contenido de las vistas-->
                        <div class="tab-pane fade show active" id="nav-mat" role="tabpanel" aria-labelledby="nav-mat-tab" tabindex="0">
                            <ul class="tasks">
                                <li *ngFor="let task of tasks">
                                  
                                    
                                    {{task.nombre}}
                                    <button (click)="openModal_edit(Edit_task,task)"> edit</button>
                                    <button (click)="deleteTask(task.id)"> del</button>
                                    
                                </li>
                              </ul>
                        </div>
                       
            
                        
            
                    <!--Vista del mes-->
                    <div class="tab-pane fade " id="nav-mes" role="tabpanel" aria-labelledby="nav-mes-tab" tabindex="0">
                        <div id="Cal_Result">
                            <div class="Cal_info">
                                <div class="Cal_prev " id="prev-month"> prev </div>
                                <div class="Cal_month" id="month"></div>
                                <div class="Cal_year" id="year"></div>
                                <div class="Cal_next" id="next-month"> next </div>
                            </div>
                            <div class="Cal_Week">
                                <div class="Cal_day Cal_item">Lun</div>
                                <div class="Cal_day Cal_item">Mar</div>
                                <div class="Cal_day Cal_item">Mie</div>
                                <div class="Cal_day Cal_item">Jue</div>
                                <div class="Cal_day Cal_item">Vie</div>
                                <div class="Cal_day Cal_item">Sab</div>
                                <div class="Cal_day Cal_item">Dom</div>
                            </div>
                            <div class="Cal_dates" id="dates"> 
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
    

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

   
    
</body>


<ng-template #Add_materia let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Agregar Mataria</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <label for="nombresito">Nombre de la Materia</label>
        <input id="nombresito" class="form-control" name="dp" [(ngModel)]="subject.nombre">

        <label for="color">Color de la Materia</label>
        <input type="color" value="#ff0000" id="color" class="form-control" name="dp" [(ngModel)]="subject.color">
        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" (click)="addMateria()">Agregar</button>
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
    </div>
  </ng-template>


  <ng-template #Edit_materia let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Editar Materia</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <label for="nombresito">Nombre de la Materia</label>
        <input id="nombresito" class="form-control" name="dp" [(ngModel)]="subject.nombre">

        <label for="color">Color de la Materia</label>
        <input type="color" value="#ff0000" id="color" class="form-control" name="dp" [(ngModel)]="subject.color">
        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" (click)="editMateria(subject.id)">Editar</button>
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>


<ng-template #Add_task let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Add Task</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <label for="nombresito">Nombre</label>
        <input id="nombresito" class="form-control" name="dp" [(ngModel)]="task.nombre">

        <label>Subject</label>
        <br>
        <select name="select" [(ngModel)]="task.subject">
            <option *ngFor="let subject of subjects" value="{{subject.id}}">{{subject.nombre}}</option>
        </select>
        <br>
        <label for="dateOfBirth">Fecha</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker" [(ngModel)]="task.fecha">
          <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
        </div>
        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" (click)="addTask()">Agregar</button>
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>

  <ng-template #Edit_task let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Editar Task</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <label for="nombresito">Nombre</label>
        <input value=task.nombre id="nombresito" class="form-control" name="dp" [(ngModel)]="task.nombre">

        <label for="materiaaaa">Subject</label>
        <input value=task.subject id="materiaaaa" class="form-control" name="dp" [(ngModel)]="task.subject" >
          
        <label for="dateOfBirth">Fecha</label>
        <div class="input-group">
          <input value=task.fecha id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker" [(ngModel)]="task.fecha">
          <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
        </div>
        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" (click)="editTask(task.id)">Editar</button>
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
</html>