<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" 
    crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Stoday</title>
</head>
<body>
  <!--Inicio Header-->
    <nav class="navbar navbar-expand-lg navbar-dark  sticky-top border-3 border-bottom " style="background-color: #94d7fe;">
      <div class="container">
        <a href="#" class="navbar-brand "> <img src="/assets/logo.png" alt="logo" width="90px" height="40px"> </a> <!--Para el logo-->

          <!--Boton que aparece cuando se reduce la pantalla-->
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
            <span class="navbar-toggler-icon"></span>
          </button>
            
          <!--Todo lo que se esconde en el boton anterior ^ -->
        <div id="MenuNavegacion" class="collapse navbar-collapse">
          <ul class="navbar-nav d-flex align-items-center">
            <li class="nav-item"><a class="nav-link" href="main-page"> Home </a></li>
            <li class="nav-item"><a class="nav-link" href="#AboutPro"> About </a></li>
            
          </ul>

          <div class="my-2 my-lg-0 ms-lg-auto">
            <ul class="navbar-nav d-flex align-items-center">
              <li class="nav-item dropdown me-1">
                <a class="nav-link dropdown-toggle align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Sign Up
                </a>
                <ul id="registro" class="dropdown-menu" style="padding:20px;width: 300px; position: absolute; inset: 0px 0px auto auto; margin: 10px; transform: translate(0px, 50px);">
              
                    
                      <label style="float: left;">Nombre</label>
                    <input class="form-control m-2" type="email" placeholder="ingrese su nombre" [(ngModel)]="usuario.name">
                    
                    
                    
                      <label style="float: left;">Email</label>
                    <input class="form-control m-2" type="email" placeholder="ingrese su email" [(ngModel)]="usuario.email">
                    
              
                   
                      <label style="float: left;">Password</label>
                    <input class="form-control m-2" type="password" placeholder="ingrese su password" [(ngModel)]="usuario.password">
                   
                      <button class="btn btn-primary btn-block m-2" (click)="registrarse()">Registrar</button>
                    
               
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Login
                </a>
                <ul class="dropdown-menu" style="padding:20px;width: 300px; position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 50px);">
                  
                    <div class="form-group">
                      <label>Email</label>
                      <input class="form-control" type="email" placeholder="ingrese su email" [(ngModel)]="usuario.email">
                    </div>
                    <div class="form-group">
                      <label>Password</label>
                    <input class="form-control" type="password" placeholder="ingrese su password" [(ngModel)]="usuario.password">
                    </div>
                    <button class="btn btn-primary btn-block m-2" (click)="Ingresar()">Ingresar</button>
                 
                  
                </ul>
              </li>
            </ul>
          </div>            
        </div>   
      </div>
    </nav>
    <!--Fin header-->

    <!--Inicio información + marketing-->
    <div id="AboutEasy" class="container col-xxl-8 px-4 py-5 border-bottom border-3">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/assets/user_while.jpg" class="d-block mx-lg-auto img-fluid" alt="Imagen comercial 1" width="300" height="100" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">No vuelvas a estudiar un día antes del exámen</h1>
          <p class="lead">
              Únete a las personas que están empezando a usar este nuevo modelo de organización, prometemos que no te arrepentirás
              ¿Qué esperas para registrarte? Es completamente gratis.
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a  role="button" class="btn btn-primary border-light mb-2 p-3 " href="#registro">
              Registrate
            </a>
          </div>
        </div>
      </div>
    </div>

          


    <div id="AboutPro" class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="/assets/bob_while.jpg" class="d-block mx-lg-auto img-fluid" alt="Imagen comercial 2" width="300" height="100" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">¿Qué es Stoday?</h1>
            <p class="lead">
                Stoday es una nueva herramienta de organización y planificación para estudiantes
                con el fin de mantener un orden y seguimiento del progreso de estudio, concientizando al
                usuario sobre su empleo del tiempo para que puedan plantear una estrategía para sus examenes,
                presentaciones, trabajos, proyectos, entre otras actividades.
                <br>
                **También se preocupa de la salud mental de sus usuarios, añadiendo diferentes espacios donde
                se pueden distraer, se comparten tips de organización y cómo usar la aplicación para evitar 
                sindromes como Burnout.
            </p>
          </div>
        </div>
      </div>
    
      <!--Footer / pie de pag-->
      <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <p class="col-md-4 mb-0 text-muted">© 2022 Stoday</p>
      
          <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          </a>
      
          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#AboutEasy" class="nav-link px-2 text-muted">About</a></li>
            <li class="nav-item"><a href="#AboutPro" class="nav-link px-2 text-muted">¿Por qué stoday?</a></li>
          </ul>
        </footer>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>
